@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}
.root {
    display: flex;
}
.page {
    min-height: 100vh;
    padding: 3rem 1rem;
    background-color: #f9f9f9;
    position: relative;
    color: #232367;
}
.authorised {
    text-align: center;
}
.Auth {
    background-image: url("../img/homeillustration.svg");
    padding-top: 10rem;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: auto 30vh;
    text-align: center;
    #prompt {
        color: #34499e;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        display: inline-block;
        font-weight: 500;
    }
    .WhiteHatBlue {
        position: absolute;
        top: 5%;
        right: 5%;
        height: 10vh;
    }
    .auth {
        margin: auto;
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        .step {
            width: fit-content;
            position: relative;
            margin: 1rem;
            margin-left: 5rem;
            border: 0;
            padding: 0;
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.11);
            background: none;
            img {
                // min-width: 30ch;
                width: 100%;
                max-width: 23ch;
            }

            &::before {
                border-radius: 50%;
                padding: 0.5rem;
                height: 2.5rem;
                width: 2.5rem;
                background-color: #34499e;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -5rem;
                z-index: 3;
            }
            &:nth-child(1) {
                &::after {
                    content: " ";
                    z-index: 1;
                    height: 2.35rem;
                    border: 1px #0b288b solid;
                    position: absolute;
                    top: 100%;
                    left: -3.8rem;
                    margin-top: -0.35rem;
                }
            }
            &.google::before {
                content: "2";
            }
            &.discord::before {
                content: "1";
            }
            &.git::before {
                content: "3";
            }
            &.disabled,
            &.completed {
                filter: brightness(0.97);
                cursor: default;
            }
            &.disabled::before {
                background-color: #7180ba;
            }
            &.completed::before {
                background-color: rgb(105, 219, 105);
            }
            &.completed::after {
                border: 1px solid rgb(105, 219, 105);
            }
        }
    }
}
